# Copyright (c) 2022 Martin Knobel
# SPDX-License-Identifier: MIT

CONFIG_BOARD_PLAPPLE405=y

CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F405XG=y

CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_PINMUX=y

# Enable Clocks moved to dts file for zephy 3.0
# CONFIG_CLOCK_CONTROL=y

# Clock configuration for Cube Clock control driver
# CONFIG_CLOCK_STM32_HSE_CLOCK=26000000
# CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y
# use HSE as PLL input
# CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
# produce 168MHz clock at PLL output
# CONFIG_CLOCK_STM32_PLL_M_DIVISOR=26
# CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=336
# CONFIG_CLOCK_STM32_PLL_P_DIVISOR=2
# CONFIG_CLOCK_STM32_PLL_Q_DIVISOR=7
# CONFIG_CLOCK_STM32_AHB_PRESCALER=1
# CONFIG_CLOCK_STM32_APB1_PRESCALER=4
# CONFIG_CLOCK_STM32_APB2_PRESCALER=2