/*
 * Copyright (c) 2022 Martin Knobel
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <st/f4/stm32f405Xg.dtsi>
#include <st/f4/stm32f405rgtx-pinctrl.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
	model = "plapple405";
	compatible = "plapple,405", "st,stm32f405";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,display = &oled;
		zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <18>;
		rows = <5>;
		map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12)     RC(0,13)		RC(0,14) RC(0,15) RC(0,16) RC(0,17)
RC(1,0)   RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12)   RC(1,13)		RC(1,14) RC(1,15) RC(1,16) RC(1,17)
RC(2,0)     RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)          RC(2,12)		RC(2,14) RC(2,15) RC(2,16) RC(2,17)
RC(3,0)       RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9)    RC(3,10)              RC(3,11)		RC(3,14) RC(3,15) RC(3,16) 
RC(4,0)   RC(4,1)   RC(4,2)                      RC(4,5)                RC(4,8)   RC(4,9)   RC(4,10)           RC(4,11)		RC(4,14)		  RC(4,16) RC(3,17)
		>;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		label = "KSCAN";

		diode-direction = "col2row";
		row-gpios
			= <&gpioc 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpioc 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpioc 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpioc 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			, <&gpioc 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
			;
		col-gpios
			= <&gpioc 0 GPIO_ACTIVE_HIGH>
			, <&gpioc 1 GPIO_ACTIVE_HIGH>
			, <&gpioc 2 GPIO_ACTIVE_HIGH>
			, <&gpioc 3 GPIO_ACTIVE_HIGH>
			, <&gpioa 0 GPIO_ACTIVE_HIGH>
			, <&gpioa 1  GPIO_ACTIVE_HIGH>
			, <&gpioa 2  GPIO_ACTIVE_HIGH>
			, <&gpioa 3  GPIO_ACTIVE_HIGH>
			, <&gpioa 6  GPIO_ACTIVE_HIGH>
			, <&gpioa 7  GPIO_ACTIVE_HIGH>
			, <&gpioc 4  GPIO_ACTIVE_HIGH>
			, <&gpioc 5  GPIO_ACTIVE_HIGH>
			, <&gpiob 0  GPIO_ACTIVE_HIGH>
			, <&gpiob 1  GPIO_ACTIVE_HIGH>
			, <&gpiob 9  GPIO_ACTIVE_HIGH>
			, <&gpioc 13  GPIO_ACTIVE_HIGH>
			, <&gpioc 14  GPIO_ACTIVE_HIGH>
			, <&gpioc 15  GPIO_ACTIVE_HIGH>
			;
	};

};

&clk_hse{
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m=<8>;
	mul-n = <336>;
	div-p = <2>;
	div-q = <7>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};


&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;


	oled: ssd1306@3c{
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		label = "SSD1306";
		width = <128>;
		height = <32>;		
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <31>;
		segment-remap;
		com-invdir;
		com-sequential;
		prechargep = <0x22>;
	};
};


&usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	status = "okay";
};

&flash0 {
	/*
	 * For more information, see:
	 * http://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Set 6Kb of storage at the end of the 256Kb of flash */
		storage_partition: partition@3e800 {
			label = "storage";
			reg = <0x0003e800 0x00001800>;
		};
	};
};
